{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard UI by Abubaker Saeed</title>
   <link rel="stylesheet" href="{% static 'login/home.css' %}">
  </head>

  <body>

    <div class="dash">

      <!-- HEADER -->
      <header class="header">
        <h1 class="header__heading"><a target="_blank" rel="noreferrer noopener">Welcome {{ user.username }}</a></h1>
        <button id="light-mode-toggle" class="header__pro">Light Mode</button>
        <div class="header__search">
          <div class="header__search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </div>
        </div>
        <div class="header__options">
          <!--<button class="header__pro">GO PRO</button> -->
      

          <a href="/users/logout" class="header__link">Logout</a>
        </div>
      </header>

      <!-- BODY -->
      <div class="body">

        <!-- SIDEBAR -->
        <div class="sidebar">

          <div class="sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          </div>

          <div class="sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </div>

          <div class="sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </div>

          <div class="sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
          </div>

          <div class="sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
            </svg>
          </div>

          <div class="sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </div>

        </div>

        <!-- MAIN -->
        <main class="main">

          <!-- COL-1 -->
          <div class="main__col-1">

            <!-- HEADING -->
            <div>
              <h2 class="main__heading"><span style="background: linear-gradient(to bottom, hsl(247, 88%, 70%), hsl(282, 82%, 51%)); box-shadow: 0 2px 12px hsla(247, 88%, 70%, .3)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                  </svg>
                </span> Abubaker Saeed</h2>
              <p class="main__desc">Mixtures of places that I've visited & traveled which are worth to check out again ^_^</p>
              <p class="main__sub"><span>Profile Collaborators:</span> <span>Cloud Strife & Jack Sparrow</span></p>
            </div>

            <!-- LIST -->
            <div class="main__list-heading-wrap">
              <h2 class="main__list-heading ss-heading">Recently Visit</h2>
              <a href="#" class="ss-show">show all</a>
            </div>

            <ul class="main__list">

              <li class="main__list-item">
                <div>
                  <p class="main__list-content">Center Point</p>
                </div>
              </li>

              <li class="main__list-item">
                <div class="main__list-content-wrap">
                  <p class="main__list-content">Masmak Fortress</p>
                  <p class="main__list-sub">My Favorite</p>
                </div>
              </li>

              <li class="main__list-item">
                <div class="main__list-item-image">
                  <img src="https://images.unsplash.com/photo-1470218091926-22a08a325802?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=40&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=40" alt="">
                </div>
                <div class="main__list-content-wrap">
                  <p class="main__list-content">Wadi Namar Waterfall</p>
                  <p class="main__list-sub">Relaxing</p>
                </div>
              </li>

              <li class="main__list-item">
                <div class="main__list-content-wrap">
                  <p class="main__list-content">Wadi Hanifah</p>
                  <p class="main__list-sub">At Last</p>
                </div>
              </li>

              <li class="main__list-item">
                <div class="main__list-content-wrap">
                  <p class="main__list-content">Heet Cave</p>
                  <p class="main__list-sub">Loved</p>
                </div>
              </li>

              <li class="main__list-item">
                <div class="main__list-item-image">
                  <img src="https://images.unsplash.com/photo-1575279146056-963c4a35627b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=40&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=40" alt="">
                </div>
                <div class="main__list-content-wrap">
                  <p class="main__list-content">Janadriyah Cultural & Heritage Festival</p>
                  <p class="main__list-sub">Cold</p>
                </div>
              </li>

            </ul>

          </div>

          <!-- COL-2 -->
          <div class="main__col-2">

            <!-- CARDS -->
            <div class="main__cards-container">

              <div class="main__cards-container-heading-wrap">
                <h2 class="main__cards-container-heading ss-heading">Traveling Plans</h2>
                <a href="#" class="ss-show">show all</a>
              </div>

              <ul class="main__cards">
                <li class="main__card" style="--hue: 25">
                  <div class="main__card-image-container">
                    <img src="https://images.unsplash.com/photo-1542037104857-ffbb0b9155fb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=140&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=220" alt="" class="main__card-image">
                  </div>
                  <h3 class="main__card-heading">Daman-e-Koh</h3>
                  <p class="main__card-heading-sub">Pakistan</p>
                  <p class="main__card-heading-type">Visit</p>
                </li>

                <li class="main__card" style="--hue: 250">
                  <div class="main__card-image-container">
                    <img src="https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=140&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=220" alt="" class="main__card-image">
                  </div>
                  <h3 class="main__card-heading">Mahodand Lake</h3>
                  <p class="main__card-heading-sub">Pakistan</p>
                  <p class="main__card-heading-type">Visit</p>
                </li>

                <li class="main__card" style="--hue: 231;">
                  <div class="main__card-image-container">
                    <img src="https://images.unsplash.com/photo-1519677100203-a0e668c92439?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=140&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=220" alt="" class="main__card-image">
                  </div>
                  <h3 class="main__card-heading">London</h3>
                  <p class="main__card-heading-sub">England</p>
                  <p class="main__card-heading-type">Work</p>
                </li>
              </ul>

              

            </div>

            <!-- FOOTER -->
            <footer class="main__footer">

            
            </footer>

          </div>

        </main>

      </div>

    </div>
 <script>
    window.addEventListener("popstate", function(event) {
        // Rediriger vers la page de déconnexion ou une autre page
        window.location.href = "/users/logout";
    });
</script>
  </body>
 <script src="{% static 'login/home1.js' %}"></script>

</html>