{% extends 'main/base0.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section class="container" style="background-image: url('{% static 'images/backk.png' %}'); background-size: cover; background-position: center; height: 100%;">
    <div class="login-container">
        
        <div class="form-container" style="margin-top: 200px;">
            <img src="{% static 'images/doctor.png' %}" alt="illustration" class="illustration" style="float: right; margin-left: 20px; max-width: 60%; height: auto;" />
            {% block title %}<h1 class="opacity">LOGIN</h1>{% endblock %}
            <form method="post">
                 <!--<input type="text" placeholder="USERNAME" />
                <input type="password" placeholder="PASSWORD" />-->

                {% csrf_token %}{{form|crispy}}
                

                <button class="opacity">Login</button>
            </form>
            <div class="register-forget opacity">
                <a href="/users/sign_up">REGISTER</a>
                <a href="/users/password_reset">FORGOT PASSWORD</a>
            </div>
        </div>
       
    </div>
    
</section>


{% endblock %}
