{% extends 'maintemp/base.html' %}
{% load static %}
{% comment %} {% block booutons %}
                        <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="../../users/home/">Home</a>
                        </li>

                        <!--<li class="nav-item">
                            <a class="nav-link click-scroll" href="../../feedback/all">Feedbacks</a>
                        </li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link click-scroll dropdown-toggle" href="../../feedback/all" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Feedbacks</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="../../feedback/all">List</a></li>
                                 <li><a class="dropdown-item" href="../../feedback/create">ADD</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link click-scroll dropdown-toggle" href="../../forums/" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Forum</a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="../../forums/">List</a></li>
                                <li><a class="dropdown-item" href="../../forums/create/">ADD</a></li>
                            </ul>
                        </li>

                        <!--<li class="nav-item">
                            <a class="nav-link click-scroll" href="../../tips">Tips</a>
                        </li>-->
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link click-scroll dropdown-toggle" href="../../tips" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tips</a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="../../tips">List</a></li>
                                <li><a class="dropdown-item" href="../../tips/admin_upload">ADD</a></li>
                            </ul>
                        </li>

                        <!--<li class="nav-item dropdown">
                            <a class="nav-link click-scroll dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">News</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="news.html">News Listing</a></li>

                                <li><a class="dropdown-item" href="news-detail.html">News Detail</a></li>
                            </ul>
                        </li>-->

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="../../events/list">Events</a>
                        </li>
                        {% if user.is_authenticated %}
                        <!-- Dynamic Dashboard Link for Logged-In Users -->
                        <li class="nav-item">
                            {% if user.is_doctor %}
                                <a class="nav-link" href="{% url 'doctor_dashboard' %}">Appointments</a>
                            {% elif user.is_patient %}
                                <a class="nav-link" href="{% url 'patient_dashboard' %}">Appointments</a>
                            {% endif %}
                        </li>
                    {% else %}
                        <!-- Redirect to Login Page if User is Not Logged In -->
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login/">Appointments</a>
                        </li>
                    {% endif %}
                        <li class="nav-item ms-3 d-flex align-items-center">
    {% if user.is_authenticated %}
        <a class="nav-link custom-btn custom-border-btn btn" href="/users/logout/">Logout</a>
        <span class="username-badge2 ms-2">{{ user.username }}</span>
        <div class="contact-image-wrap2 ms-2">
            <img src="../../static/temp/images/avatar/studio-portrait-emotional-happy-funny.jpg" class="img-fluid avatar-image2" alt="">
        </div>
    {% else %}
        <a class="nav-link custom-btn custom-border-btn btn" href="/users/login/">Login</a>
    {% endif %}
</li>
                    </ul>
                    
{% endblock %} {% endcomment %}
{% block content %}
<style>
.form-field{
    margin-bottom: 20px;
}

.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input{
    width: 100%;
    border:2px solid rgba(198,202,219,1);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-field input[type='submit']{
    background-color: rgb(75, 93, 172);
    border:none;
    color: #fff;
}</style>
<main>

    <section id="form-container">

        <img id="logo" src="{% static 'images/chat-icon.png' %}"/>

        <div id="welcome-message">
            <h1>Welcome to MyChat</h1>
            <p>A group video calling platform made just for you!</p>
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Room:</label>
                    <input name="room" placeholder="Enter a room name..."  style="text-transform:uppercase"/>
                </div>

                <div class="form-field">
                    <label>Name:</label>
                    <input name="name" placeholder="Enter your name..."  style="text-transform:uppercase"/>
                </div>

                <div class="form-field">
                    <input type="submit" value="Join Stream" />
                </div>
            </div>
        </form>
    </section>
</main>
   <script src="{% static 'js/main.js' %}"></script>
<script>
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.name.value

        let response = await fetch(`/chat/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/chat/room/', '_self')
    }



    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}

